body {
    font-family: helvetica,verdana,sans-serif;
    font-size: 1em;
    text-align: left;
    margin: 0px;
    padding: 0px;
    background-color:#000;
    width: 100%;
    height:100%;
    color:#fff;
    line-height: 1.5em;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.vertically_centered {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.horizontally_centered {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    padding: 1em;
    height: 635px;
    width: 240px;
}
header {
    margin-bottom: 30px;
}

footer {
    margin-top: 40px;
}



.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

span.sprite {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.sprite-fax {
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-homepage {
    width: 20px;
    height: 20px;
    background-position: -35px -5px;
}

.sprite-logo {
    width: 222px;
    height: 79px;
    background-position: -5px -35px;
}

.sprite-mail {
    width: 20px;
    height: 20px;
    background-position: -65px -5px;
}

.sprite-vcard {
    width: 20px;
    height: 20px;
    background-position: -155px -5px;
}

.sprite-mobile {
    width: 20px;
    height: 20px;
    background-position: -95px -5px;
}

.sprite-phone {
    width: 20px;
    height: 20px;
    background-position: -125px -5px;
}

.sprite-tag {
    width: 225px;
    height: 225px;
    background-position: -237px -5px;
}
